python-dotenv
pydantic

pandas
# pyarrow

pyspark

# Postgres client for your local scripts
psycopg[binary]
sqlalchemy

# Data Quality (Soda)
soda-core-postgres

loguru
rich

pytest
pytest-mock

# Optional local dashboard
streamlit


apache-airflow